<h1 mat-dialog-title cdkFocusInitial style="display: flex;justify-content: space-between;align-items: center">
  <span>
  Markdown Editor
  </span>
  <button [mat-dialog-close]="{}" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content
     style="display: flex;justify-content: center;max-height: calc(100% - 60px);height: calc(100% - 60px)">
  <div id="editSection" style="border: 1px solid #3f51b5;border-radius: 4px;width: 1200px;height: calc(100% - 60px)"></div>
</div>

<div mat-dialog-actions>
  <button  (click)="copyBlocks()" mat-button>复制</button>
</div>
