<!--<div class="performance">-->
  <!--<div class="virtual-item">-->
    <!--<div class="message-item">-->
      <!--<div class="user-avatar">-->
        <!--<img class="c-avatar__image" src="https://ca.slack-edge.com/T6AB90804-UL362L99C-gc935f7f526a-48"-->
             <!--srcset="https://ca.slack-edge.com/T6AB90804-UL362L99C-gc935f7f526a-72 2x" alt="">-->
      <!--</div>-->
      <!--<div class="message-content">-->
        <!--<div class="message-content-header">-->
          <!--<span class="message-sender">孟鸿霖</span>-->
          <!--<span class="message-c-time">10:44</span>-->
        <!--</div>-->
        <!--<div class="message-content-body">-->
          <!--slack拥有的功能，就是招呼可以提升的地方-->
        <!--</div>-->
        <!--<app-message-blocks></app-message-blocks>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<button mat-raised-button (click)="openModal()"> open modal</button>-->
<router-outlet></router-outlet>
