.performance {
  display: inline-block;
  min-width: 700px;
  max-width: 700px;
  min-height: 600px;
  max-height: 100vh;
  overflow: auto;
  padding: 92px 18px;
  border: 1px solid #cccccc;
  .virtual-item {
    width: 100%;

  }
}

.message-item {
  line-height: 16px;
  font-size: 15px;
  min-width: 1px;
  position: relative;
  padding: 6px 0;
  user-select: text;
}

.user-avatar {
  width: 64px;
  padding-right: 8px;
  float: left;
  text-align: right;
  img {
    width: 36px;
  }
}

.message-content {
  margin-top: -9px;
  margin-left: 64px;
  margin-right: 20px;
  min-width: 1px;
  .message-content-header {
    margin: 9px 0 -5px 0;
    line-height: 1;
    .message-badge{
      border-radius: 2px;
      font-size: 10px;
      padding: 1px 3px;
      color: rgba(29,28,29,.7);
      background-color: rgba(29,28,29,.13);
      display: inline-block;
      height: 14px;
      line-height: 1.25;
      font-weight: 700;
      vertical-align: .125rem;
      margin-right: 5px;
      margin-left: 5px;
      position: relative;
    }
    .message-sender {
      font-weight: 900;
      word-break: break-word;
      color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
    }
    .message-c-time {
      text-decoration: none;
      cursor: default;
      color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
      font-size: 12px;
    }
  }
  .message-content-body {
    line-height: 1.46668;
    margin: 8px 0 -4px 0;
    text-align: left;
    width: 100%;
    color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
    word-wrap: break-word;

  }
}

/*
override
*/
.mat-raised-button {
  line-height: 28px;
}

.message-block-wrapper {
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
  display: flex;
  border-radius: 4px;
  justify-content: space-between;
  padding: 4px;
  /*
  富文本表格样式
  */
  table {
    padding: 0 10px;
    border-spacing: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .02), 0 8px 10px 1px rgba(0, 0, 0, .02), 0 3px 14px 2px rgba(0, 0, 0, .02);
    thead {
      tr {
        height: 56px;
        background: inherit;
        th {
          padding: 0;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          text-align: left !important;
          border-bottom-color: rgba(0, 0, 0, .12);
          color: rgba(0, 0, 0, .54);
          font-size: 12px;
          font-weight: 500;
        }
        th:first-child {
          padding-left: 24px;
        }
      }
    }
    tbody {
      background: inherit;
      tr {
        background: inherit;
        height: 48px;

        td {
          padding: 0;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: rgba(0, 0, 0, .12);
          color: rgba(0, 0, 0, .87);
          font-size: 14px;
          text-align: left !important;
        }
        td:first-child {
          padding-left: 24px;
        }
      }
      tr:last-child{
        td{
          border: none;
        }
      }
    }
  }
}

/**
section
 */
.message-section-block {
  display: flex;
  width: 100%;
  font-size: 15px;
  line-height: 1.46668;
  flex-direction: row-reverse;
  font-weight: 400;
  margin: 8px 0 4px;
  &.no-top-margin {
    margin-top: 0;
  }
  .message-section-block-accessory {
    display: flex;
    margin: 0 0 4px 8px;
    position: relative;
    .message-section-block-accessory-image {
      border-radius: 4px;
      margin-left: 4px;
      overflow: hidden;
      width: 88px;
      height: 88px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
    }
  }
  .message-section-block-text-content {
    flex: 1;
  }
  .message-section-block-text {
    width: 100%;
  }
  .message-section-block-fields {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    .message-section-block-field {
      width: calc(50% - 16px);
    }
  }
}

/*
actions
*/
.message-actions-block {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  .message-actions-block-elements {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .message-action-block-element {
      margin: 8px 8px 0 0;
    }
  }
}

/*
image
*/
.message-image-block {
  margin: 8px 0;
  display: block;
  .message-image-block-container {
    display: inline-block;
    color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
    .message-image-block-title {
      display: flex;
      font-size: 12px;
      .message-image-block-trigger {
        font-size: 13px;
        display: flex;
        align-items: center;
        margin-top: -1px;
        .mat-icon {
          height: 20px;
          cursor: pointer;
        }
      }
    }
    .message-image-block-body {
      .message-image-block-outer {
        width: 400px;
        margin-top: 5px;
        max-width: 100%;
        .message-image-block-inner {
          position: relative;
          padding-top: 100%;
          .message-image-block-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .message-image {
              background-repeat: no-repeat;
              background-position: 50%;
              background-size: contain;
              border-radius: 4px;
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
              cursor: zoom-in;
              display: inline-block;
              width: 100%;
              height: 100%;
              text-indent: 100%;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }

    }
  }
}

/*
context
*/
.message-context-block {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
  font-size: 13px;
  line-height: 1.38463;
  font-weight: 400;
  color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
  .message-context-block-element {
    .message-context-block-img {
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      height: 20px;
      width: 20px;
      border-radius: 2px;
      margin-left: 0;
      display: inline-block;
    }
  }
  .message-context-block-text-spacing {
    width: 16px;
    display: inline-block;
  }
  .message-context-block-img-spacing {
    width: 4px;
    display: inline-block;
  }
}

/*
divier
*/
.message-divider-block {
  margin: 4px auto 8px;
  border-bottom: 1px solid rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
  width: 100%;
}

/*
input
*/
.message-input-block {
  width: 100%;
}

.message-block-delete-button {
  opacity: 0;
}

.message-blocks {
  max-width: 600px;
  display: inline-block;
  width: 100%;
  .message-block-wrapper {
    background: none;
  }
  .message-block-wrapper:hover {
    background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
    .message-block-delete-button {
      opacity: 1;
    }
  }

}

app-message-modal {
  .message-action-block-element {
    margin: 8px 0 0 0;
    width: calc(50% - 8px);
    margin-right: 8px;
    margin-top: 0;
    button {
      width: 100%;
    }
  }
  .mat-dialog-actions {
    flex-direction: row-reverse;
  }
  h1[mat-dialog-title] {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd
  }
  .message-input-block {
    mat-form-field {
      width: 100%;
    }
  }
}

a {
  color: rgba(var(--sk_highlight, 18, 100, 163), 1);
  text-decoration: none;
}

a:active, a:focus, a:hover {
  color: rgba(var(--sk_highlight_hover, 11, 76, 140), 1);
  text-decoration: underline;
}
